---
---
<h2 class="myh2">Career Summary</h2>
<p>A resourceful Data Engineer and Embedded Systems Researcher. Dynamic and proficient, with hands-on experience
  in IoT, Big Data and Mobile App Development. Effective in leadership, collaborating and exceptional in
  taking up challenges. Working toward becoming a research leader in the emerging field of IoT and Data Science.</p>

  <h2 class="myh2">Research Interests</h2>
  <p>I am interested in  resourceful Data Engineer and Embedded Systems Researcher. Dynamic and proficient, with hands-on experience
    in IoT, Big Data and Mobile App Development. Effective in leadership, collaborating and exceptional in
    taking up challenges. Working toward becoming a research leader in the emerging field of IoT and Data Science.</p>

<!-- {% for post in site.posts limit:site.data.theme.num_home_posts %}
<div class="post-header-home">
  <h1 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h1>
  {% include post-header-home.html %}
</div>
<div class="post-excerpt-home">
  {{ post.excerpt }}
  <p class="text-right"><a href="{{ post.url | prepend:site.baseurl }}">Continue Reading &rarr;</a></p>
</div>
{% endfor %} -->
<!-- <hr>
<div class="home-read-more">
  <a href="{{ "/archive" | prepend:site.baseurl }}" class="btn btn-primary btn-block btn-lg">View All {{ site.posts | size }} Articles →</a>
</div> -->
