---
---
<h2 class="myh2">About Me</h2>
<p>
  I am a member of the <a  href="http://persist.cs.clemson.edu/"  target="_blank">
    PERSIST Research Lab</a> at Clemson University. My research explores innovative ways to enhance the intelligence, connectivity, and reliability
of constrained edge and embedded networked sensor systems. This involves developing new
low-power wireless protocols and tools for <strong>networking</strong> emerging battery-free systems,
optimizing <strong>machine learning</strong> models for resource-constrained edge devices, and employing
various energy harvesting modalities to power <strong>batteryless sensors</strong> and <strong>wearables</strong>.
</p>


  <h2 class="myh2">Research Interests</h2>
  <ul class="menu">
    <li>Edge AI & On-Device ML</li>
    <li>Embedded Networked Sensor Systems</li>
    <li>Internet of Things (IoT)</li>
    <li>Intermittent & Mobile Computing</li>
    <li>Permissioned Blockchain</li>
    <li>Data Science and Engineering</li>
</ul>

  <h2 class="myh2">Education</h2>
  <strong class="mystrong"><p class="compact1">Ph.D. Computer Science</p></strong>
  <span class="compact">Clemson University, Clemson, SC, USA.</span> <span class="right">2023</span>
  <strong class="mystrong"><p class="compact1">M.S. Computer Science</p></strong>
  <span class="compact">Clemson University, Clemson, SC, USA.</span> <span class="right">2019</span>
  <strong class="mystrong"><p class="compact1">B.S. Computer Engineering</p></strong>
  <span class="compact">Obafemi Awolowo University, Ile-Ife, Nigeria.</span> <span class="right">2014</span>

  <h2 class="myh2">News</h2>
  <p class="compact1"><strong class="span_date">08-2023</strong>&nbsp Completed another summer research internship at IBM Research, Almaden, CA.</p>
  <p class="compact1"><strong class="span_date">12-2022</strong>&nbsp Received the 2022 UPE Scholarship Award.</p>
  <p class="compact1"><strong class="span_date">05-2022</strong>&nbsp Embarked on a summer research internship at IBM Research, Almaden, CA.</p>
  <p class="compact1"><strong class="span_date">08-2021</strong>&nbsp Received the Tapia 2021 Scholarship.</p>
  <p class="compact1"><strong class="span_date">03-2020</strong>&nbsp Attended Computing Research Association
    <a href="https://web.cvent.com/event/02cd5795-0ecb-4667-8c36-9c124771d8c2/websitePage:645d57e4-75eb-4769-b2c0-f201a0bfc6ce" target="_blank">
      (CRA) Grad Cohort Workshop</a>, Austin.</p>
  <p class="compact1"><strong class="span_date">09-2019</strong>&nbsp Awarded the 2019 ACM-UPE Academic Achievement Award.</p>
  <p class="compact1"><strong class="span_date">08-2019</strong>&nbsp Presented a session on “tips for doing great
    research” at the National Society of Blacks in Computing <a href="http://nsbc.org/" target="_blank">(NSBC)</a> Conference 2019, Atlanta.</p>
  <p class="compact1"><strong class="span_date">03-2019</strong>&nbsp Selected to participate in the Computing
    Research Association <a href="https://www.youtube.com/watch?v=gRB_FY4nM8Q" target="_blank">(CRA) Grad Cohort Workshop</a>
    in Hawaii, March 2019.</p>
  <p class="compact1"><strong class="span_date">08-2018</strong>&nbsp Selected for the Cross-layer Computing Summer School: Circuits to System workshop at Northwestern University, Evanston.</p>
  <p class="compact1"><strong class="span_date">03-2018</strong>&nbsp Attended the Computing
    Research Association <a href="https://www.youtube.com/watch?v=Qtyc-1P5n0c" target="_blank">Grad Cohort Workshop</a>, San Diego.</p>


  <h2 class="myh2">Publications</h2>
  <p class="compact2"><strong class="span_blt">&#8226;</strong>&nbsp Luis Bathen, Simeon Babatunde, Rhui Dih Lee, Achintya Kundu, and Laura Wynter. <strong><a href="https://ieeexplore.ieee.org/abstract/document/10356363" target="_blank">M3: Towards Efficient Mixed Machine Learning Model Co-Location on Constrained Edge Devices</a></strong>. IEEE Military Communications Conference (MILCOM), 2023.</p>
  <p class="compact2"><strong class="span_blt">&#8226;</strong>&nbsp Arwa Alsubhi, Simeon Babatunde, Nicole Tobias, and Jacob Sorber. <strong><a href="" target="_blank">Stash: Flexible energy storage for intermittent sensors</a></strong>. ACM Transactions on Embedded Computing Systems (TECS), 2023.</p>
  <p class="compact2"><strong class="span_blt">&#8226;</strong>&nbsp Arwa Alsubhi, Reza Ghaiumy Anaraky, Simeon Babatunde, Abu Bakar, Thomas Cohen, Josiah Hester, Bart Knijnenburg, and Jacob Sorber. <strong><a href="https://www.tandfonline.com/doi/abs/10.1080/10447318.2023.2276528" target="_blank">User-Centered Perspectives on the Design of Batteryless Wearables</a></strong>. International Journal of Human–Computer Interaction (IJHCI), 2023.</p>
  <p class="compact2"><strong class="span_blt">&#8226;</strong>&nbsp Simeon Babatunde, Nirnay Jain, and Vishwas Power. <strong><a href="https://arxiv.org/abs/2009.09487" target="_blank">Long Range Communication on Batteryless Devices.</a></strong>. arXiv Preprint, 2020.</p>
  <p class="compact2"><strong class="span_blt">&#8226;</strong>&nbsp Arwa Alsubhi, Nicole Tobias, Simeon Babatunde, and Jacob Sorber. <strong><a href="https://dl.acm.org/doi/abs/10.1145/3417308.3430278" target="_blank">Can Crystal Oscillators Keep Time Without Power?</a></strong>. International Workshop on Energy Harvesting and Energy-Neutral Sensing Systems (ENSsys), 2020.</p>

  <!-- <div class="container-fluid" id="myfluid"> -->

    <!-- <div class="row"> -->

      <!-- <div class="col-md-6" id="box">
        <div class="portfolio-details">
            <h4>Embedded ML with TF Lite</h4>
            <img src="/assets/img/embedml.png" alt="Embedded ML">
            <p>
              This project leverages TensorFlow Lite to create optimized linear and DNN models for
              realtime inferencing on Raspberry Pi and On-board Unit (OBU) of Connected Autonomous Vehicles.
            </p>
            <p class="portfolio-links">
		            <a href="https://github.com/simeonbabatunde/embedded-deep-learning-for-autonomous-vehicles" target="_blank">
	                <i class="fa fa-github"></i>&nbsp;&nbsp;Code </a>
					 	</p>
        </div>
      </div>

      <div class="col-md-6" id="box">
        <div class="portfolio-details">
		        <h4>UV Risk Detection/Prevention</h4>
		        <img src="/assets/img/uv.jpeg" alt="UV Detection">
		        <p>
		            This is a wearable device prototype that inform users about their UV exposure rate. One device
                senses UV radiation and the other displays the UV radiation levels. The display device shows the UV index.
		        </p>
            <p class="portfolio-links">
		            <a href="https://github.com/simeonbabatunde/uv_risk_detection_and_prevention"  target="_blank">
	                <i class="fa fa-github"></i>&nbsp;&nbsp;Code </a>
					 	</p>
				</div>
      </div> -->

    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="home-read-more">
    <a href="{{ "/projects" | prepend:site.baseurl }}" class="btn btn-primary btn-block btn-lg">More Projects →</a>
  </div> -->

<!-- {% for post in site.posts limit:site.data.theme.num_home_posts %}
<div class="post-header-home">
  <h1 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h1>
  {% include post-header-home.html %}
</div>
<div class="post-excerpt-home">
  {{ post.excerpt }}
  <p class="text-right"><a href="{{ post.url | prepend:site.baseurl }}">Continue Reading &rarr;</a></p>
</div>
{% endfor %} -->
<!-- <hr>
<div class="home-read-more">
  <a href="{{ "/archive" | prepend:site.baseurl }}" class="btn btn-primary btn-block btn-lg">View All {{ site.posts | size }} Projects →</a>
</div> -->
